body{
    background-color: rgb(156, 156, 155);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: rgb(107, 0, 0);
    text-align: center;
}

p{
    margin: 10px;
    line-height: 60px;
    text-indent: 40%;
}

