body{
    background-color: rgb(156, 156, 155);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: rgb(107, 0, 0);
    text-align: center;
    opacity: 0.5;
    transition: all 1s;
}

p{
    margin: 10px;
    line-height: 60px;
    text-indent: 40%;
}

ul{
    list-style-type: square;
    padding: 20px;
    margin-left: 40%;
}

.wyroznione{
    font-style: italic;
    background-color: rgba(107, 0, 0, 0.46);
    transition: all 1.5s;
}

.wyroznione:hover{
    background-color: rgba(0, 15, 71, 0.528);
}

h1:hover{
    padding: 30px;
    font-size: 50px;
}
